body{
background-image:('url images.jpg.jpg');
a
} 
.topnav {
  overflow: hidden;
  background-color:grey;
}

.topnav a {
  float: left;
  color:orangered;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color:rgb(128, 77, 0) or;
  color: black;
}

.topnav a.active {
  background-color: orangered;
  color: white;
}

. fakeimg{
width:100%;
}